<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Invoice</title>
    <style>
        body {
            font-family: sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th width="50%">
                <h3>Seller</h3>
                <p th:text="${invoice.seller}"></p>
                <p th:text="${invoice.sellerAddress}"></p>
                <p th:text="${invoice.sellerGstin}">GSTIN: </p>
            </th>
            <th width="50%">
                <h3>Buyer</h3>
                <p th:text="${invoice.buyer}"></p>
                <p th:text="${invoice.buyerAddress}"></p>
                <p th:text="${invoice.buyerGstin}">GSTIN: </p>
            </th>
        </tr>
    </table>
</div>
<table border="1">
    <thead>
    <tr>
        <th width="25%">Item</th>
        <th width="25%">Quantity</th>
        <th width="25%">Rate</th>
        <th width="25%">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${invoice.items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.rate}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
